@import 'styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  border-radius: $card-radius;
  width: 100%;
  min-height: $card-height;
  background-color: $text-light;
  text-align: left;
  transition: $transition;
  cursor: pointer;
  align-self: normal;
  border: 1px solid $card-border;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: $card-content-gap;
    padding: 22px $card-content-padding-inline 16px;
    margin-top: -4px;
  }

  @media(hover: hover) {
    &:hover {
      box-shadow: $box-shadow
    }
  }

  &__caption {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    border: 1px solid $button-secondary-bg;
    padding-inline: $gap-12;
    border-radius: 6px;
    font-size: $font-size-p14;
    line-height: $line-height-p14;
  }

  &__price {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: $font-size-p16;
    line-height: $line-height-button;
    color: $text-secondary;
  }
}

.image__wrapper img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.unfinished {
  background-color: $button-accent-bg;
  display: flex;
  align-items: center;
  gap: $gap-8;
  border-radius: $button-radius;
  padding: 2px 8px;
  width: fit-content;
}

@media(max-width: 768px) {
    .card {
      min-height: auto;

      &:active {
        box-shadow: $box-shadow;
      }
    }
}
